body {
  background-color: #C2ADFF;
  font-family: sans-serif;
  color: #5E41B2;
  padding-top: 80px;
}

h1 {
   font-size: 50px;
   font-weight: 500;
   margin: auto;
}

form {
  width: 19em;
  margin: 10px auto 0 auto;
  color: #5E41B2;
}

.error {
  font-size: 150%;
  color: red;
}

.links {
    background-color: #FFFFFF;
    margin: 10px 20em 10px 20em;
    padding: 1px 10px 10px 10px;
}

/* link styling */
a:link, a:visited, a:active {
    color: #5E41B2;
}
a:hover {
    color: #C2ADFF;
    text-decoration: none;
}

